
/*estilos a la página contacto*/

.formu {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5rem;
}

.submit {
    max-width: 100px
}

.check{
    align-self: center;
}