/*arrancan estilos de footer*/

footer {
    background-color: blueviolet;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    font-weight: bolder;
}

/*terminan estilos de footer*/
